 <!-- Footer -->
    <footer class="footer" id="contact">
        <div class="container">
            <div class="footer-main">
                <!-- Footer Brand --> <!-- Footer -->
    <footer class="footer" id="contact">
        <div class="container">
            <div class="footer-main">
                <!-- Footer Brand -->
                <div class="footer-brand">
                    <div class="footer-logo">
                        <span class="brand-name">AURUM</span>
                    </div>
                    <p class="footer-description">
                        Discover timeless menswear that embodies sophistication and elegance. 
                        Quality craftsmanship meets heritage design in every piece.
                    </p>
                </div>
                
                <!-- Footer Links -->
                <div class="footer-links">
                    <div class="footer-column">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#shop">Shop</a></li>
                            <li><a href="#collection">Collections</a></li>
                            <li><a href="#about">About Us</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-column">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-column">
                        <h4>Contact</h4>
                        <ul>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Personal Styling</a></li>
                            <li><a href="#">Store Locations</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Footer Social -->
                <div class="footer-social">
                    <div class="social-icons">
                        <a href="#" class="social-link" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-link" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="social-link" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="footer-bottom-content">
                    <p class="copyright">&copy; 2025 AURUM. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

   
                <div class="footer-brand">
                    <div class="footer-logo">
                        <span class="brand-name">AURUM</span>
                    </div>
                    <p class="footer-description">
                        Discover timeless menswear that embodies sophistication and elegance. 
                        Quality craftsmanship meets heritage design in every piece.
                    </p>
                </div>
                
                <!-- Footer Links -->
                <div class="footer-links">
                    <div class="footer-column">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#shop">Shop</a></li>
                            <li><a href="#collection">Collections</a></li>
                            <li><a href="#about">About Us</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-column">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-column">
                        <h4>Contact</h4>
                        <ul>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Personal Styling</a></li>
                            <li><a href="#">Store Locations</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Footer Social -->
                <div class="footer-social">
                    <div class="social-icons">
                        <a href="#" class="social-link" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-link" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="social-link" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="footer-bottom-content">
                    <p class="copyright">&copy; 2025 AURUM. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>