 <header class="header">
        <nav class="navbar">
            <div class="container">
                <!-- Logo -->
                <div class="nav-brand">
                    <span class="brand-name">AURUM</span>
                </div>
                
                <!-- Navigation Menu -->
                <div class="nav-menu" id="nav-menu">
                    <ul class="nav-links">
                        <li><a href="#home" class="nav-link active">HOME</a></li>
                        <li><a href="#shop" class="nav-link">SHOP</a></li>
                        <li><a href="#collection" class="nav-link">COLLECTION</a></li>
                        <li><a href="#about" class="nav-link">ABOUT</a></li>
                        <li><a href="#contact" class="nav-link">CONTACT</a></li>
                    </ul>
                </div>
                
                <!-- Right Icons -->
                <div class="nav-icons">
                    <div class="icon-wrapper">
                        <i class="far fa-heart nav-icon" title="Wishlist"></i>
                        <span class="icon-badge">0</span>
                    </div>
                    <div class="icon-wrapper">
                        <i class="fas fa-shopping-bag nav-icon" title="Cart"></i>
                        <span class="icon-badge">0</span>
                    </div>
                    <div class="icon-wrapper">
                        <i class="far fa-user nav-icon" title="Profile"></i>
                    </div>
                </div>
                
                <!-- Hamburger Menu -->
                <div class="hamburger" id="hamburger">
                    <span class="hamburger-line"></span>
                    <span class="hamburger-line"></span>
                    <span class="hamburger-line"></span>
                </div>
            </div>
        </nav>
    </header>
